{
  "extends": "stylelint-config-primer",
  "ignoreFiles": [
    "./css/src/foundation/normalize.css",
    "./css/src/object/utility/util.css",
    "./css/src/object/utility/emma-util.css"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "browsers": ["> 1%", "IE 11", "Last 2 versions"],
      "ignore": [
        "flexbox",
        "border-radius",
        "transforms2d",
        "css-appearance",
        "calc",
        "user-select-none",
        "css-transitions",
        "viewport-units",
        "background-img-opts",
        "css-gradients",
        "css3-cursors",
        "css-resize",
        "css-boxshadow",
        "css-fixed",
        "pointer-events",
        "multicolumn",
        "outline",
        "css-featurequeries",
        "font-feature"
      ]
    }]
  }
}
