{
    "extends": "stylelint-config-suitcss",
    "plugins": ["stylelint-selector-bem-pattern"],
    "rules": {
        # sass記法のコメントで発生するTypeError回避(20180626)
        "indentation": null,
        "declaration-block-trailing-semicolon": null,
        "max-line-length": [ 120, {
            ignore: "non-comments",
        } ],
        "rule-empty-line-before": [ "always-multi-line", {
            ignore: ["after-comment"],
        } ],
        "order/properties-alphabetical-order": null,
        "number-leading-zero": "never",
        "block-opening-brace-space-before": null,
        "block-closing-brace-newline-before": null,
        "comment-empty-line-before": null,
        "plugin/selector-bem-pattern": {
            "implicitComponents": true,
            "componentName": "[A-Z]+",
            "componentSelectors": {
                "initial": "^\\.{componentName}(?:-[a-z]+)?$",
                "combined": "^\\.combined-{componentName}-[a-z]+$"
            },
            "utilitySelectors": "^\\.util-[a-z]+$"
        },
    }
}
