doctype html
html(lang='ja')
  head
    title TopPage
    include ../_includes/_meta.pug

  body.site-wrapper
    include ../_includes/_header.pug
    div.section.columns.is-desktop
      include ../_includes/_breadcrumb.pug
    div.section.columns.is-desktop
      div.column.is-three-quarters-desktop
        main
          section
            h2.index__title Leastest Index Posts
              article.index-entry
                figure.index-entry__img
                  img(src="https://placehold.jp/250x170.png" alt="demo")
                time.index-entry__time 2017.12.21
                h2.index-entry__title
                    a(href="#") TITLE title Title TITLE title Title TITLE title Title TITLE title Title TITLE title Title
        //div.section

      div.column.is-one-quarters-desktop.sidebar
        include ../_includes/_sidebar.pug

    include ../_includes/_footer.pug
