footer.footer
  div.site-footer__inner.grid--justify-center
    ul
      - var footerlist = ['About','cat1','cat2','cat3']
      each item, index in footerlist
        li #{item}
  div.site-footer__inner.grid--justify-center
    ul
      - var footerlist = ['About','cat1','cat2','cat3']
      each item, index in footerlist
        li #{item}
