footer.site-footer.container--fluid
  div.grid
    nav.site-footer__inner.grid--justify-center
      ul
        - var footerlist = ['About','cat1','cat2','cat3']
        each item, index in footerlist
          li #{item}
    nav.site-footer__inner.grid--justify-center
      ul
        - var footerlist = ['About','cat1','cat2','cat3']
        each item, index in footerlist
          li #{item}
