nav.pagination.is-centered(role="pagination" aria-label="pagination")
  a.pagination-previous Previous
  a.pagination-next Next page
  ul.pagination-list
    li
      a.pagination-link 1
    li
      span.pagination-ellipsis &hellip;
    li
      a.pagination-link 34
    li
      a.pagination-link.is-current 35
    li
      a.pagination-link 36
    li
      span.pagination-ellipsis &hellip;
    li
      a.pagination-link 50

