div.sidebar
  aside.sidebar__widget
    h2.sidebar__title 最近のコメント
    ul.sidebar__list
      li さよならの世界
      li こんにちは地獄

  aside.sidebar__widget
    h2.sidebar__title Categories
    ul.sidebar__list
      li Cat1
      li Cat2
      ul
        li Cat2-1
        li Cat2-2
      li Cat3
