$breadcrumb-bg-color: $white//#e5e5e4//$grey-lighter//desaturate($primary, 25%)
$breadcrumb-item-color: $grey//$link-white //$link
$breadcrumb-item-hover-color: darken($breadcrumb-item-color,20%)//$link-white-hover //$link-hover
$breadcrumb-item-active-color: $dark-invert
$breadcrumb-item-margin: .2rem
$breadcrumb-list-padding: .8rem
$breadcrumb-list-circle: 13px

$breadcrumb-item-font-size: .85rem//$size-7

$breadcrumb-box-shadow-size: 0 2px 0 0
$breadcrumb-box-shadow-color: $background

$breadcrumb-padding: 0.2rem 1.5rem
$breadcrumb-padding-medium: 1rem 1.5rem
$breadcrumb-padding-large: 1.2rem 1.5rem

.breadcrumb
  +block
  +unselectable
  margin: 0
  &:not(:last-child)
    margin: 0
    //+desktop
      margin: 0 0 1rem 0
  font-size: $breadcrumb-item-font-size
  overflow-x: auto
  width: 100%
  background-color: $breadcrumb-bg-color
  border-bottom: 1.5px solid $header-border-color
  &.has-shadow
    box-shadow: $breadcrumb-box-shadow-size $breadcrumb-box-shadow-color
  a
    color: $breadcrumb-item-color
    text-decoration: none
    display: block
    //display: flex
    //justify-content: center
    &:hover
      color: $breadcrumb-item-hover-color

  &__inner
    padding: $breadcrumb-padding
    // Responsiveness
    +desktop
      // Sizes
      &.is-medium
        padding: $breadcrumb-padding-medium
      &.is-large
        padding: $breadcrumb-padding-large
  &__list
    //align-items: center
    margin: 0
    padding: 0
    list-style: none
    display: flex
    line-height: 1.4 //2行以上を想定
    //flex-direction: column
    flex-grow: 1
    flex-shrink: 0
    flex-wrap: wrap
    justify-content: flex-start
    //padding-left: $breadcrumb-list-padding / 8
    &.is-active
      a
        color: $breadcrumb-item-active-color
        cursor: default
        pointer-events: none
  &__item
    display: flex
    align-items: center
    padding: $breadcrumb-item-margin 0
    &::after
    &:not(:last-child)
      &::after
        content: '/'
        margin: 0 $breadcrumb-list-padding
        color: $breadcrumb-item-color
    &.active
        pointer-events: none
        &::after
          background: $grey-light

  &__current
    font-weight: 800
    color: $breadcrumb-item-color
