$body-size: 1rem
$family-sans-serif: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'

$custom-Background-color: #F4F1E1//lighten($grey-light,25%)
$body-background-color: $custom-Background-color

$family-primary: $family-sans-serif

$link-white: $light
$link-white-hover: lighten($light,30%)

//box
$box-radius: $radius

// content

$content-heading-color: $text-strong
$content-heading-weight: $weight-semibold
$content-heading-line-height: 1.125

$content-blockquote-background-color: $background
$content-blockquote-border-left: 5px solid $border
$content-blockquote-padding: 1.25rem 1.5rem

$content-pre-padding: 1.25rem 1.5rem

$content-table-cell-border: 1px solid $border
$content-table-cell-border-width: 0 0 1px
$content-table-cell-padding: 0.5rem 0.75rem
$content-table-cell-heading-color: $text-strong
$content-table-head-cell-border-width: 0 0 2px
$content-table-head-cell-color: $text-strong
$content-table-foot-cell-border-width: 2px 0 0
$content-table-foot-cell-color: $text-strong
