$body-size: 1rem
$family-sans-serif: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'

$custom-Background-color: #F4F1E1//lighten($grey-light,25%)
$body-background-color: $custom-Background-color

$family-primary: $family-sans-serif

$link-white: $light
$link-white-hover: lighten($light,30%)

//box
$box-radius: $radius
