$body-size: 1rem
$family-sans-serif: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'

$family-primary: $family-sans-serif

$link-white: $light
$link-white-hover: lighten($light,30%)
