.common
  &-wrapper
    display: flex;
    flex-wrap: nowrap
    flex-direction: column;
    min-height: 100vh;
  &-logo
    align-items: center
    border-radius: $radius-large
    max-width: 25px
    +desktop
      max-width: 40px
  &-header
    background-color: $primary
    &--title
      font-size: 1.75rem
      font-weight: 600
    &--main
      border-bottom: 1px solid $header-border-color
  &-hero
    &--title
      color: $white
      font-size: 1.75rem
      font-weight: 600
    &--description
      color: $white
      font-size: 1.45rem
      font-weight: 400
  &-footer
    background: $white
    position: relative
    border-top: 1px solid $section-border-color
    margin-top: auto
