.common
  &-wrapper
    display: flex;
    flex-wrap: nowrap
    flex-direction: column;
    min-height: 100vh;
  &-header
    background-color: $primary
    &--title
      font-size: 1.75rem
      font-weight: 600
  &-hero
    &--title
      font-size: 1.75rem
      font-weight: 600
  &-footer
    position: relative
    margin-top: auto
