$index-padding: $gap / 2

.index--
  &mainSection
    background-color: $body-background-color
  &loopSection
  &title
    font-size: $size-5
    +desktop
      font-size: $size-3
  &article
    margin: 0 0 1rem 0
    +desktop
      margin: 0 0 1.5rem 0
    padding: 1rem
  &header
    padding: $index-padding 0 0 0
    +tablet
      padding: 0
  &footer
