$index-padding: $gap / 2

.index
  &__title
    font-size: $size-5
    +desktop
      font-size: $size-3
  &__article
  &__header
    padding: $index-padding 0 0 0
    +tablet
      padding: 0
  &__footer
