// 横定義
.horizontal
  margin: 1.5rem 0
  padding: 1rem 0.5rem
  border-top: 1px solid $border
  border-bottom: 1px solid $border
  display: flex
  dt
    width: 7rem
  dd
    flex: 1
    flex-direction: column
    //align-self: stretch
    //justify-content
