$single-padding: $gap / 2
$single-padding-tab: $gap

.singlePost--
  &title
    font-size: $size-3
    +desktop
      font-size: $size-2
  &article
  &header
    padding: $single-padding 0 0 0
    +tablet
      padding: 0
  &footer
