$single-padding: $gap / 2
$single-padding-tab: $gap

.singleSection
  background-color: $post-Background-color //$white

.singlePost--
  &title
    font-size: $size-3
    +desktop
      font-size: $size-2
  &article
  &byline
    &__author
    &__updated
      &::before
        +icon
        +fa-calendar
        margin-right: 1rem
  &header
    padding: $single-padding 0 0 0
    +tablet
      padding: 0
  &footer
    &__info
      margin: 0 0 1.5rem 0
    &__tagName
      margin: 0 0 .2rem 0
      font-weight: $weight-semibold
    &__tagLists
      margin: 0 0 1rem 0
      font-size: .9rem
    &__tagItem
      background-color: $grey-darker
      border-radius: $radius
      margin: 0 .4rem 1rem 0
      padding: .2rem .4rem
      font-weight: $weight-medium
      a
        color: $grey-lighter
        &:hover,
        &:active
          color: $grey-lighter
