@font-face {
  font-family: "icomoon";
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.svg#icomoon') format('svg');
  /*font-weight: normal;
  font-style: normal;*/
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-right:before {
  content: "\e900";
}
.fa-arrow-left:before {
  content: "\e901";
}
.fa-arrow-down:before {
  content: "\e902";
}
.fa-arrow-up:before {
  content: "\e903";
}
.fa-books:before {
  content: "\e920";
}
.fa-rss:before {
  content: "\ea9b";
}
.fa-schedule:before {
  content: "\e904";
}
.fa-calendar:before {
  content: "\e905";
}
.fa-user-secret:before {
  content: "\e906";
}
.fa-user:before {
  content: "\e907";
}
.fa-twitter:before {
  content: "\e908";
}
.fa-telegram:before {
  content: "\e909";
}
.fa-telegram-plane:before {
  content: "\e90a";
}
.fa-line:before {
  content: "\e90b";
}
.fa-google-plus:before {
  content: "\e90c";
}
.fa-google-plus-square:before {
  content: "\e90d";
}
.fa-google-plus-g:before {
  content: "\e90e";
}
.fa-facebook:before {
  content: "\e90f";
}
.fa-facebook-square:before {
  content: "\e910";
}
.fa-facebook-f:before {
  content: "\e911";
}
.fa-copy:before {
  content: "\e912";
}
.fa-user1:before {
  content: "\e913";
}
.fa-tags:before {
  content: "\e914";
}
.fa-tag:before {
  content: "\e915";
}
.fa-home:before {
  content: "\e916";
}
.fa-copy1:before {
  content: "\e917";
}
.fa-arrow-up1:before {
  content: "\e918";
}
.fa-arrow-right1:before {
  content: "\e919";
}
.fa-arrow-left1:before {
  content: "\e91a";
}
.fa-arrow-down1:before {
  content: "\e91b";
}
.fa-facebook1:before {
  content: "\e91c";
  color: #3b5998;
}
.fa-googlehangouts:before {
  content: "\e91d";
  color: #0c9d58;
}
.fa-googleplus:before {
  content: "\e91e";
  color: #dc4e41;
}
.fa-hatenabookmark:before {
  content: "\e91f";
  color: #00a4de;
}
.fa-twitter1:before {
  content: "\e921";
  color: #1da1f2;
}
